:root {
  --primary: red;
  --secondary: rgba(128, 128, 128, 0.5);
  --secondryBackgroundColor: rgba(18, 32, 103, 0.862);
  --mainColor: rgb(20, 149, 132);
  --temporaryColor: rgb(83, 83, 83);
}
.cartTopbar {
  background-color: var(--secondryBackgroundColor);
}
/* table */
table {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
thead {
  border-top: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
  line-height: 35px;
  font-weight: 700;
}
tbody {
  padding: 10px 0;
}
.imageCart img {
  width: 70%;
  height: 50px;
}
tr i {
  cursor: pointer;
}
tr input[type="number"] {
  width: 40px;
  text-align: center;
  /* border: none; */
}
@media screen and (max-width: 700px) {
  .cartTable {
    /* overflow-x: scroll; */
    width: 700px;
  }
  .tableContainer {
    overflow-x: scroll;
  }
}
#notValidCoupon {
  display: none;
  color: red;
}
#enterCoupon {
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding: 5px;
}
#applayCoupon {
  background-color: var(--mainColor);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
  margin: 5px 10px;
  font-size: 1.2rem;
}
.cartTotals {
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding: 15px;
}
