:root {
  --primary: red;
  --secondary: rgba(190, 190, 190, 0.5);
  --mainColor: rgb(20, 149, 132);
  --temporaryColor: rgb(66, 66, 66);
}
/* header */
.homePage {
  background-color: var(--secondary);
}
html {
  font-size: 22px;
}
.homeContent {
  height: 100%;
}
.homeTitle {
  background: url(../images/images.jpg);
  background-size: cover;
  height: 100%;
}
.homeTitleContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 50px;
}
.homeTitleContent h2 {
  font-weight: bold;
}
.homeTitleContent h2 span {
  color: var(--mainColor);
}
.homeTitleContent p {
  color: var(--temporaryColor);
  font-weight: bold;
}
.homeTitleContent a {
  color: var(--mainColor);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  background: url(../images/button.png);
  background-size: contain;
  cursor: pointer;
}
@media screen and (max-width: 567px) {
  .homeTitle {
    background: url(../images/images.jpg);
    background-size: cover;
    background-position-x: center;
  }
  .homeTitleContent {
    padding-top: 170px;
    justify-content: flex-start;
  }
  html {
    font-size: 18px;
  }
}
