:root {
  --primary: red;
  --secondary: rgba(128, 128, 128, 0.5);
  --mainColor: rgb(20, 149, 132);
  --secondryBackgroundColor: rgba(18, 32, 103, 0.862);
  --temporaryColor: rgb(83, 83, 83);
  --starsColor: #ffc107;
  --starsHover: #ffb400;
  --emptyStars: #e4e5e9;
}
.stayHome {
  background: url(../images/banner/b11.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--mainColor);
  height: 250px;
}
.stayHome .topBarContent {
  align-items: flex-start;
  height: 200px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.466);
}

/* products */
main {
  margin-top: 10px;
}
.productCard {
  border: 1px solid var(--secondary);
  border-radius: 15px;
  padding: 10px 15px;
  margin: 10px;
}
.productCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.productCard .productCardImg {
  overflow: hidden;
}
.productCard img {
  transition: transform 1s;
}
.productCard:hover img {
  transform: scale(1.2);
}
.productCard h6 {
  color: var(--temporaryColor);
  padding-top: 10px 5px;
}
.productCardImg img {
  width: 100%;
  border-radius: 15px;
}
.productCard p i {
  color: var(--starsColor);
}
.productCard p i:hover {
  color: var(--starsHover);
}
.productCardPrice {
  font-size: 1.3rem;
  color: var(--mainColor);
  font-weight: bold;
}
.productCardCart {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.productCardCart i {
  color: white;
  font-size: 1.5rem;
}
@media screen and (max-width: 567px) {
  .productCardCart {
    width: 30px;
    height: 30px;
  }

  .productCardCart i {
    font-size: 1rem;
  }
  .productCard p i {
    font-size: 0.9rem;
  }
}

.productCard .oldPrice {
  text-decoration: line-through;
  text-decoration: black line-through;
}
.dash {
  color: black;
}
.sucssesAdding {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: var(--secondary);
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px 9px;
  border-radius: 10px;
  display: none;
}
